
#manageAppointments{
	position: absolute;
	width: 1041px;
	height:100px;
	z-index: 2;
	background-color: rgba(200,200,200,0.8);
	border: 1px solid rgba(51,51,51,0.2);
	}

#manageAppointmentsInside{
	position: absolute;
	width: 500px;
	height:60px;
	top:20px;
	left:270px;
	border-radius:20px;
	z-index: 2;
	background-color: rgba(255,255,255,0.6);
	    box-shadow: 2px 5px 5px #7c7c7c;
	    border: 1px solid rgba(51,51,51,0.2);
	}	
	
	
#apDivMainInfo{
	position: absolute;
	left: 500px;
	top: 100px;
	width: 501px;
	height:250px;
	z-index: 2;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.5);
	border: 1px solid rgba(51,51,51,0.2);
}

#apDivContainer{
	position: absolute;
	left: 50px;
	top: 100px;
	width: 1041px;
	height: 500px;
	z-index: 1;
	background-color: #f0f0f0;	
	border: 1px solid rgba(51,51,51,0.2);	
}




#calendarBox{
	position: absolute;
	left: 80px;
	top: 150px;
	width: 330px;
	height: 247px;
	z-index: 2;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
}


p{
	line-height: 50%;
}

#apDivTitle {
	position: absolute;
	left: 50px;
	top: 8px;
	width: 323px;
	z-index: 2;

}
