@import "http://fonts.googleapis.com/css?family=Fauna+One|Muli";
p{
font-family:'Fauna One',serif;
}
.object_ok
{
border: 1px solid green; 
color: #333333; 
}

.object_error
{
border: 1px solid #AC3962; 
color: #333333; 
}

#error
{
	position: absolute;
	z-index: 2;
	top : 48px;
	left: 275px;
	width:200px;
	height: 50px;
	

}

#error_email
{

	position: absolute;
	z-index: 2;
	top : 128px;
	left: 275px;
	width:200px;
	height: 50px;
	color:red;


}


#apDivBox{
	position: absolute;
	width: 1000px;
	height: 650px;
	z-index: 2;
	left: 74px;
	top: 80px;
	background-color: #F7F7F7;
	//background-color: #ffffff;
	border: 2px solid #f0f0f0;
	border-radius: 10px;
	padding-left: 50px;
	padding-bottom: 10px;
	margin : 20px;
}

#apDivFormBox{
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	top : 120px;
	left: 20px;
	width: 400px;
	height: 639px;
}

#apDivMessage {
	position: absolute;
	left: 100px;
	top: 180px;
	width: 594px;
	height: 34px;
	z-index: 10;
	font-family:'Fauna One',serif;
	font-size: 15px;
	color: blue;
}

#apDivError {
	position: absolute;
	left: 100px;
	top: 193px;
	width: 594px;
	height: 34px;
	z-index: 10;
	font-family:'Fauna One',serif;
	font-size: 15px;
	color: blue;
}
/*
@font-face {
    font-family: BRITANIC;
    src: url(../fonts/verdana.woff);
}
*/
#apDivTitle{
	position: absolute;
	width: 800px;
	height: 61px;
	z-index: 3;
	left: 30px;
	top: 25px;
	font-family:'Fauna One',serif;
	font-size: 30px;
	color: #213266;
	font-weight: bold;
}

p{
	font-family:'Fauna One',serif;
	font-size: 15px;
	color: #213266;
	font-weight:bold;
	//line-height: 120%;	
}

body{
	font-family:'Fauna One',serif;
	font-size: 12px;
	margin: 10px;
}
	
label{
	position: relative;
	vertical-align: middle;
}

input[type=text],input[type=password],input[type=submit],input[type=email] {
	display: block;
	margin-bottom: 15px;	
}

input[type=checkbox] {
	margin-bottom: 15px;
}

#apDivFbLogin{
	position: absolute;
	width: 361px;
	height: 300px;
	z-index: 2;
	right: 10%;
	top: 110px;
	background-color: #F7F7F7;
	background-color: #ffffff;
	border: 2px solid #f0f0f0;
	border-radius: 10px;
	padding-left: 50px;
	padding-bottom: 10px;
}

.textField {
	position: relative;
	width: 250px;
	height: 20px;
}

.signupBtn {
	color: rgba(255,255,255,1);
	background-color: rgba(102,102,102,1);
	position: absolute;
	width: 173px;
	height: 35px;
	font-size: 16px;
	font-weight: bold;
	font-family:'Fauna One',serif;
}