#login-form-box {
	position:absolute;
	width:374px;
	height:420px;
	z-index:2;
	left: 260px;
	top: 180px;
	background-color: rgba(201, 216, 197, 0.7);
	border: 2px solid #f0f0f0;
	border-radius: 10px;
}

#back{
	position: absolute;
	margin-top: 100px;
	left: 0px;
	
}


#coverPics{
	position: absolute;
	width: 800px;
	height: 500px;	
	background-image: url('images/cover1.jpg');
	z-index: 0;

}

#login-form {
	position:absolute;
	width:234px;
	height:221px;
	z-index:3;
	left: 50px;
	top: 96px;
}
#signupbox {
	position:absolute;
	width:px;
	height:274px;
	z-index:5;
	left: 647px;
	top: 298px;
	background-color: #ffffff;

}


@font-face {
    font-family: BRITANIC;
    src: url(fonts/verdana.woff);
}
#logintag {
	position:absolute;
	width:300px;
	height:82px;
	z-index:2;
	left: 52px;
	top: 12px;
	font-family:BRITANIC;
	font-size: 35px;
	color: #213266;
	font-weight:bold;
}

@font-face {
    font-family: BRITANIC;
    src: url(fonts/verdana.woff);
}

#newto{
	position:absolute;
	width:326px;
	height:53px;
	z-index:1;
	left: 10px;
	top: 27px;
	font-family:BRITANIC;
	font-size: 40px;
	color: #213266;
	font-weight:bold;
	
}
@font-face {
    font-family: BRITANIC;
    src: url(fonts/verdana.woff);
}

#signupnow{
	position:absolute;
	width:326px;
	height:53px;
	z-index:1;
	left: 40px;
	top: 147px;
	font-family:BRITANIC;
	font-size: 30px;
	color: #ff0000;
	font-weight:bold;
	
}
#facebook {
	position:absolute;
	width:201px;
	height:53px;
	z-index:2;
	left: 101px;
	top: 314px;
}

#google{
	position:absolute;
	width:201px;
	height:53px;
	z-index:2;
	left: 101px;
	top: 354px;
}

#signup {
	position:absolute;
	width:195px;
	height:58px;
	z-index:2;
	left: 111px;
	top: 156px;
}