.Dropdn {
	background-color: rgba(51,51,51,0.5);
	position: absolute;
	left: 168px;
	top: 104px;
	width: 220px;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	font-weight: bold;
}

#apDivSearchBar {
	position: absolute;
	left: 0px;
	top: 88px;
	width: 100%;
	height: 180px;
	z-index: 8;
	background-color: rgba(51,51,51,0.7);
}  

.SearchBar {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: rgba(255,255,255,1);
	background-color: rgba(51,51,51,0.7);
	position: absolute;
	width: 511px;
	left: 171px;
	top: 36px;
}

.check {
	color: rgba(255,255,255,0.5);
	position: absolute;
	left: 693px;
	top: 81px;
	width: 230px;
	height: 96px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;

}

input.MyButton {
	width: 94px;
	padding: 5px;
	font-weight: bold;
	font-size: 80%;
	background: #302D2D;
	color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #999999;
	border-radius: 5px;
	position: absolute;
	left: 697px;
	top: 37px;
	height: 30px;

}

.SearchTerm {
	background-color: rgba(51,51,51,0.5);
	position: absolute;
	width: 222px;
	height: 24px;
	left: 407px;
	top: 104px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,1);
}