@charset "utf-8";
/* CSS Document */

#apDiv5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60px;
	z-index: 1;
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #f8b500 0%, #fccd4d 65%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(0%,#f8b500), color-stop(65%,#fccd4d), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#f8b500 0%,#fccd4d 65%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fceabb 0%,#f8b500 0%,#fccd4d 65%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fceabb 0%,#f8b500 0%,#fccd4d 65%,#fbdf93 100%); /* W3C */




filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
	background-color: #FFF;
	background-position: bottom;
}


#apDiv5 {
	position: absolute;
	left: 1px;
	top: 563px;
	width: 100%;
	height: 106px;
	z-index: 5;
}
